* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row; 
    align-items: center; 
    gap: 20px; padding: 20px; }


.dashboard-container {
    height: 450px;
    width: 330px;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    padding: 20px;

}

input, select, textarea {
    padding: 10px ;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;

}
button{
padding: 10px 20px; 
background-color: rgb(84, 84, 241); 
color: white; 
border: none; 
border-radius: 5px; 
cursor: pointer;
 }
#submit{
height: 35px;
width: 100%;
}

h2{
    color: rgb(84, 84, 241);
}
.events-container {
    height: 400px;
    width: 500px;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

#clearAllBtn,#addSampleBtn{
height: 35px; width: 48%; }

.dom-demo-container {
    height: 200px;
    width: 620px;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    margin-top: 20px;
}
